<!DOCTYPE html>
<html>
<head>
  <title>Final Fantasy VII - The Text Adventure</title>
  <meta charset="utf-8">
</head>
<body>
  <main>
    <h1>Final Fantasy VII - The Text Adventure</h1>
    <section id="play"><button type="button" onclick="doIt('toc')">Let's play</button></section>
  </main>
  <script>

  function clear(){
    console.log('clear');

    document.getElementById('play').innerHTML = '';
  }

  function echo(str){
    //console.log('echo: ' + str);

    document.getElementById('play').innerHTML += '<p>' + str + '</p>';
  }

  function doIt(str){
    console.log('doIt: ' + str);

    clear();

    switch (str) {
      <contents>
      default:
        console.log('error was here :(.')
    }
  }
  </script>
</body>
</html>
